* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    font-size: 62.5%;
    height: 100%;
}

body {
    color: #0790B0;
    font-size: 1.6rem;
    height: 100%;
}

#navbar {
    background-color: #E0EBE8;
    display: flex;
    flex-flow: row nowrap;
    justify-content: flex-end;
    height: 4rem;
    position: fixed;
    width: 100%;
    align-items: center;
}

#navbar > a {
    color: #0790B0;
    margin: 0 3em;
    text-decoration: none;
}

#welcome-section {
    background-color: #E0EBE8;
    color: #000000;
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    align-items: center;
    height: 100%;
    padding-top: 6rem;
}

#projects {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-around;
}

.project-tile {
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
    margin: 5rem 0;
    width: 25%;
}

.project-tile > img {
    height: auto;
    max-width: 100%;
}

.project-link {
    color: #0790B0;
    cursor: pointer;
    font-weight: bold;
    margin: 0.5em 0;
    text-decoration: none;
}

#profile-link {
    color: #0790B0;
    cursor: pointer;
    font-size: 2rem;
    margin: 1em 0;
    text-decoration: none;
}

#profile-link:hover {
    color: green;
}

#contact {
    background-color: #C8F7C5;
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    height: 6rem;
}














